

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}
.header_slider{
  display: flex;
  background-color: #fff;

}
.logo{
  display: flex;
  width: 20%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

nav{
  text-align: center;
   width:50%;
   background-color: #fff;
   
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

nav > ul{
  display: flex;
  justify-content: space-between;
}


/**************/

nav ul li{
  
  width: 100%;
  display: block;
  position: relative;
  padding: 15px 0;
  transition: all 2s ease;
}

nav ul li a{
  color: #000;
}

nav ul li ul{
  display: none;
}

nav ul li:hover ul{
  display: block;
  position: absolute;
  top: 49px;
  width: 200px;
  
}


nav ul li:hover{
  background:fff;
}

nav ul li:hover a{
  color: fff;
}

nav ul li:hover ul li{
  background: #fff;
}

nav ul li:hover ul li a{
  color: #000;
}

nav li ul li{
  text-align: left;
  
  transition: all 1s ease;
  padding: 10px 0 10px 20px ;
 
}
nav li ul li:nth-child(1){
  padding-top: 40px;
}


nav li ul li:hover{
  
  padding-left: 40px;
}

nav i{
  padding-right: 8px;
}

.header2{
  height: calc(100vh - 75px);
}
.header2 h2{
  font-size: 6rem;
}
.header2 p{
  width: 40%;
}





/*** media queries ***/

@media screen and (max-width: 768px){
  nav ul{
      flex-direction: column;
  }

  nav ul li:hover ul{
      width: 100%;
      position: relative;
      margin-top: -30px;
  }

  .container{
      grid-template-columns: 1fr;
      padding-bottom: 30px;
  }

  .container article{
      margin-top: 30px;
  }

}