{% extends "base.html" %}
{% block aboutus %}
{% include "header.html" %}
    <!-- About us -->
    <section id = "services1">
        <div class = "container_about">
          <div class = "services-content">
            <div class = "title-content">
              <h2 class = "title">About Us</h2>
              <p class = "lead">We WTG promise always Quality and transparency like our products. Delhi based company dreams for world wide.</p>
            </div>
            <div class = "services-list">
              <div class = "service-item" data-aos = "flip-left">
                <span>
                  <i class = "fa fa-check-square-o"></i>
                </span>
                <div>
                  <h3 class = "heading">Quality</h3>
                  <p>Quality is the key of success and we found that key.</p>
                </div>
              </div>
  
              <div class = "service-item" data-aos = "flip-left">
                <span>
                  <i class="fab fa-think-peaks"></i>
                </span>
                <div>
                  <h3 class = "heading">Think</h3>
                  <p>A great Think is unlocking of treasure.</p>
                </div>
              </div>
  
              <div class = "service-item" data-aos = "flip-left">
                <span>
                  <i class="fa-solid fa-asterisk"></i>
                </span>
                <div>
                  <h3 class = "heading">Innovative</h3>
                  <p>Innovation means intelligence. We became brilliant</p>
                </div>
              </div>
  
              <div class = "service-item" data-aos = "flip-left">
                <span>
                  <i class="fa-solid fa-compass-drafting"></i>
                </span>
                <div>
                  <h3 class = "heading">Design</h3>
                  <p>If you are food in designing no body can stop you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- why choose us -->
      <section id = "services2">
        <div class = "container_choose">
          <div class = "services-content">
            <div class = "title-content">
              <h2 class = "title">Why choose us?</h2>
              <p class = "lead">We have everything you need, that fits you and your requirements.</p>
            </div>
  
            <div class = "service-type-list">
              <div class = "service-type" data-aos = "zoom-in">
                <span>
                  <i class="fab fa-think-peaks"></i>
                </span>
                <h2 class = "display-text">Think</h2>
                <p class = "lead">power is the everything.</p>
                <!-- <a href = "#">Read More</a> -->
              </div>
              
              <div class = "service-type" data-aos = "zoom-in">
                <span>
                  <i class="fab fa-think-peaks"></i>
                </span>
                <h2 class = "display-text">Think</h2>
                <p class = "lead">Power is everything.</p>
                <!-- <a href = "#">Read More</a> -->
              </div>
  
              <div class = "service-type" data-aos = "zoom-in">
                <span>
                  <i class="fab fa-think-peaks"></i>
                </span>
                <h2 class = "display-text">Think</h2>
                <p class = "lead">Power is everything.</p>
                <!-- <a href = "#">Read More</a> -->
              </div>
            </div>
  
            <div class = "service-data">
              <div class = "service-data-item">
                <span class='numscroller' data-min='1' data-max='140' data-delay='5' data-increment='5'>0</span>
                <p class = "lead">Clients</p>
              </div>
              <div class = "service-data-item">
                <span class='numscroller' data-min='1' data-max='485' data-delay='5' data-increment='5'>0</span>
                <p class = "lead">Projects</p>
              </div>
              <div class = "service-data-item">
                <span class='numscroller' data-min='1' data-max='329' data-delay='5' data-increment='5'>0</span>
                <p class = "lead">Hours Of Support</p>
              </div>
              <div class = "service-data-item">
                <span class='numscroller' data-min='1' data-max='45' data-delay='5' data-increment='5'>0</span>
                <p class = "lead">Hard Workers</p>
              </div>
            </div>
          </div>
        </div>
      </section>
{% include "contact.html" %}  
{% include "footer.html" %}
{% endblock aboutus %}