<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="contact_form_container">
        <div class="text_section">
            <h2>Let’s talk about
            <br>your project</h2>

            <p>
                Interested in learning more about our services and products? Feel free to fill the form and we will get back to you as soon as possible.
            </p>
        </div>

        
            <div id="container_content">
              
                <form action="#" method="post" id="contact_form">
                <div class="name">
                    <label for="name"></label>
                    <input type="text" placeholder="name " name="name" id="name_input" required>
                </div>
                <div class="email">
                    <label for="email"></label>
                    <input type="email" placeholder="last name" name="email" id="email_input" >
                </div>
                <div class="name">
                    <label for="name"></label>
                    <input type="text" placeholder="e-mail" name="name" id="name_input" required>
                </div>
                <div class="email">
                    <label for="email"></label>
                    <input type="email" placeholder="company" name="email" id="email_input" required>
                </div>
                <div class="name">
                    <label for="name"></label>
                    <input type="text" placeholder="city " name="name" id="name_input" required>
                </div>
                <div class="email">
                    <label for="email"></label>
                    <input type="email" placeholder="address" name="email" id="email_input" >
                </div>
                
                <div class="telephone">
                    <label for="name"></label>
                    <input type="text" placeholder="number " name="telephone" id="telephone_input" required>
                </div>
                <div class="subject">
                    <label for="subject"></label>
                    <select placeholder="Subject line" name="subject" id="subject_input" required>
                    <option disabled hidden selected>Subject line</option>
                    <option>I'd like to start a project</option>
                    <option>I'd like to ask a question</option>
                    <option>I'd like to make a proposal</option>
                    </select>
                </div>
                <div class="message">
                    <label for="message"></label>
                    <textarea name="message" placeholder="Message.." id="message_input" cols="30" rows="5" required></textarea>
                </div>
                <div class="submit">
                    <input type="submit" value="Send Message" id="form_button" />
                </div>
                </form><!-- // End form -->
            </div><!-- // End #container -->
    </div>
</body>
</html>