<div class="big-cat">
    <div class="cat-title">
        <h2>
            We present you <br> our product category
        </h2>
    </div>
</div>

<div class="big-collection">
    <div class="collect-flex">
        <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">DOOR</a>
            </div>
        </div>

        <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">SLIDING DOOR</a>
            </div>
        </div>

        <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">CUSTOM DOOR</a>
            </div>
        </div>

        <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">KITCHEN FURNITURE</a>
            </div>
        </div>

        <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">LIVING ROOM FURNITURE</a>
            </div>
        </div>

        {% comment %} <div class="collect">
            <div class="image">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="" height="120px" width="80px">
            </div>
            <div class="link">
                <a href="#">BATHROOM DOOR</a>
            </div>
        </div> {% endcomment %}
    </div>
</div>

<div class="big-shop" id="shop">
    <div class="shop-title">
        <h2>
            We are very proud to present you <br> our glass range
        </h2>
        <p>
            Quality is the easiest way to make beautiful products.
        </p>
    </div>
    <div class="shop-flex">
        <div class="shop-one">

            <div class="image-one">
                <img src="{% static 'images/vitra pocket sliding door.jpg' %}" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Vitra </h3>
                        <section>
                            <span>Slinding Door</span> / Design
                        </section>
                    </div>
                </div>
            </div>

            <div class="image-one">
                <img src="{% static 'images/vitra synchronized  gold sliding door.jpg' %}" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Sunset</h3>
                        <section>
                            <span>Slinding Door</span> / Design
                        </section>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-one">

            <div class="image-one">
                <img src="{% static 'images/vitra synchronized black sliding door.jpg' %}" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Black Chaira</h3>
                        <section>
                            <span>Slinding Door</span> / Design
                        </section>
                    </div>
                </div>
            </div>

            <div class="image-one">
                <img src="{% static 'images/vitra telescopic 1+2 sliding door.jpg' %}" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>White lampgin</h3>
                        <section>
                            <span>Slinding Door</span> / Design
                        </section>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-two">
            <img src="{% static 'images/1.jpg' %}" alt="">
            <div class="overlay">
                <div class="txt">
                    <h3>Brown Charm </h3>
                    <section>
                        <span>Slinding Door</span> / Design
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="big-product" id="features">
    <div class="product-title">
        <p>
            browse our aluminium products
        </p>
        <h2>
            ideal for every home
        </h2>
        <hr>
    </div>
    <div class="product-flex">
        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/vitra synchronized black sliding door.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Whitlivase
                    </h4>
                </div>
            </div>

        </div>


        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/sliding black marmo.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Moonlight
                    </h4>
                </div>
            </div>
            <article></article>
        </div>


        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/vitra_2.png' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Graair
                    </h4>
                </div>
            </div>
        </div>


        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/7.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Cupyholderi
                    </h4>
                </div>
            </div>
        </div>

        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/1.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Sliding Aluinto
                    </h4>
                </div>
            </div>
        </div>

        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/3.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Aluinto Door
                    </h4>
                </div>
            </div>
        </div>
        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/4.png' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Color Aluinto
                    </h4>
                </div>
            </div>
        </div>
        <div class="product-one">
            <div class="product-image">
                <img src="{% static 'images/6.jpg' %}" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <h4>
                        Gray Aluinto
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section1">
    <div class = "image1">
        
    </div>

    <div class = "content1">
        <h2>About Us</h2>
        <span><!-- line here --></span>

        <p>We have extended our reach beyond our Italian hometown while maintaining the family company’s DNA and values at the core of everything that we do. Learn more about the people behind the brand.</p>

        <ul class = "links1">
            <li><a href = "#work">work</a></li>

            <div class = "vertical-line"></div>

            <li><a href = "#service">service</a></li>

            <div class = "vertical-line"></div>
            
            <li><a href = "#contact1">contact</a></li>
        </ul>

        
    </div>
</section>

<section class="section2" id="work">
    <div class = "content2">
        <h2>Our Showroom</h2>
        <span><!-- line here --></span>
        <p>Gorgoan Showroom <br> B-42 XYZ <br>
        <button class="b" type="">Contact us</button>
        </p>            
    </div>
    <div class = "image2">
    </div>

</section>

<section class="section11" id="service">

    <div class = "content11">
        <h2>Our Mission</h2>
        <span></span>

        <p>We take great pride in our work. We have included some examples of the projects we have done across the globe in collaboration with renown architects and interior designers – feel free to take a look!.</p>

    </div>
    <div class = "content11">
        <h2>Custom project</h2>
        <span></span>

        <p>We also offer custom premium doors & boiserie that fit your needs. Just come talk with us, 
            we will be more than happy to learn more about your project and requirements.</p>

    </div>

</section>




<!-- end section four  -->

