{% block footer %}

      <!-- footer -->
      <footer class = "footer" style="background-color:#498ed8">
        <!-- border-top:  solid 0.5px #327dcd; -->
        <div class = "footer-item">
          <h2 class = "brand-name">
            WT <span>Glass</span>
          </h2>
          <p>social media accounts</p>
          <ul class = "footer-icons">
            <li>
              <a href = "#"><i class = "fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href = "#"><i class = "fab fa-twitter"></i></a>
            </li>
            <li>
              <a href = "#"><i class = "fab fa-instagram"></i></a>
            </li>
            <li>
              <a href = "#"><i class = "fab fa-linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class = "fab fa-google-plus-g"></i></a>
            </li>
    
            </ul>
        </div>
        <div class = "footer-item">
          <h3>links</h3>
          <ul>
            <li><a href = "#">home</a></li>
            <li><a href = "#">download</a></li>
            <li><a href = "#">pricing</a></li>
            <li><a href = "#">about</a></li>
          </ul>
        </div>
  
        <div class = "footer-item">
          <h3>products</h3>
          <ul>
            <li><a href = "#">Glass Door</a></li>
            <li><a href = "#">sliders</a></li>
            <li><a href = "#">Base</a></li>
            <li><a href = "#">Draws</a></li>
          </ul>
        </div>
  
        <div class = "footer-item">
          <h3>support</h3>
          <ul>
            <!-- <li><a href = "#">FAQ</a></li>
            <li><a href = "#">how it works</a></li>
            <li><a href = "#">features</a></li> -->
            <li><a href = "#">contact</a></li>
          </ul>
        </div>
    </footer>



{% endblock footer %}