

        {% comment %} <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script> {% endcomment %}

        {% comment %} <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet"> {% endcomment %}
 
        <!-- header -->
        <header class="header">
          <div class="logo"><a href="#">logo</a></div>
            <nav>
              
                <ul>
                  
                  
                    <li><a href = "#">PROFILE</a>
                     <ul> 
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>DOWNLOADS</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>CATALOUGES</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>SHOWROOM</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>PROJECTS</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>VEDIOS</a></li>
                    </ul>
                    </li>
                    <li><a href = "#">PRODUCTS</a>
                        <ul>
                            <li><a href = "#"><i class="fas fa-chevron-right"></i>SLIDING</a></li>
                            <li><a href = "#"><i class="fas fa-chevron-right"></i>SWING DOOR</a></li>
                            <li><a href = "#"><i class="fas fa-chevron-right"></i>GLIDE DOOR</a></li>
                            <li><a href = "#"><i class="fas fa-chevron-right"></i>PARTITION</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>SHOWER ENCLOSER</a></li>
                        </ul>
                    </li>
                    <li><a href = "#">SURFACES</a>
                        <ul>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>KITCHEN</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>WARDROBE</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>WALL CLADDING</a></li>
                           
                        </ul>
                    </li>

                    <li><a href = "#">GLASS</a>
                        <ul>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>FABRIC</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>METAL MASH</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>LACQUER</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>MARBLE</a></li>
                            <li><a href = "#"><i class = "fas fa-chevron-right"></i>FIGURED</a></li>
                        </ul>
                    </li>

                    <li><a href = "#">COMPANY</a>
                      <ul>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>ABOUT US</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>FAQS</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>HISTORY</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>CAREER</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>CONTACT US</a></li>
                        <li><a href = "#"><i class = "fas fa-chevron-right"></i>SUPPORT</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>

       </header>

