{% extends 'base.html' %}
{% load static %}
{% block home %}
    {% include 'header.html' %}
    <!-- Header backgroud image -->
    <!-- <div class="big-bg" id="home">
        <div class="bg-content">
            <h1>Quality is the best thing <br> in the business</h1>
            <hr>
            <p>
                We make our products in the best shape for your happiness, <br> so we hope to build a bridge of trust with you.
            </p>
            <div class="bg-link">
                <a href="#">Check Collection</a>
            </div>
        </div>
    </div> -->
    {% include "My_slider.html" %}

    <!-- Product/Article section -->
    <div class = "main-wrapper">
      <h2>Watch our products</h2>
  
      <div class = "article-collection">
          <!-- article single -->
          {% for field in  data %}
          <article>
              <div class = "img-box">
                  <a href="{% url 'glass_surface' field.category_id %}">
                  <img src = "{{field.category_image.url}}" alt = "">
                  </a>
              </div>
              <div class = "textbox-content">
                  <h3>{{field.name}}</h3>
                  <p>{{field.description}}</p>
                  <div class = "location">
                      <!-- <div>
                          <span><i class = "fas fa-map"></i></span>
                          <span>WTG Glass</span>
                      </div> -->
                  </div>
              </div>
          </article>
          {% endfor %}
      </div>
    </div>
     

    <!-- video section heading -->
    <div class="big-furn">
        <div class="furn-title">
            <h2>
                Discover our work culture <br> technology 
            </h2>
            <p>
                View our everday amazing products.
            </p>
        </div>
    </div>

    <!-- Video section -->
    <div class="bg-show">
        <div class="link">
            <!-- <a href="#" class="link_a">play <img src="{% static 'pic/pause.png' %}" alt=""></a>             -->
            <iframe width="1160"   src="https://www.youtube.com/embed/xEcDIGZlyLs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtube"></iframe>
            <!-- width="960" height="615" -->
        </div>
    </div>
    
    {% include "contact.html" %}
    {% include 'footer.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock home %}