{% extends 'base.html' %}
{% load static %}
    
    

    {% block home %}
    {% include 'header.html' %}
    <!-- Header backgroud image -->
    <div class="big-bg" id="home">
        <div class="bg-content">
            <h1>Quality is the best thing <br> in the business</h1>
            <hr>
            <p>
                We make our products in the best shape for your happiness, <br> so we hope to build a bridge of trust with you.
            </p>
            <div class="bg-link">
                <a href="{% url 'product' %}">Check Collection</a>
            </div>
        </div>
    </div>

    <!-- Product/Article section -->
    <div class = "main-wrapper">
      <h2>Watch our products</h2>
  
      <div class = "article-collection">
          <!-- article single -->
          {% for field in  data %}
          <article>
              <div class = "img-box">
                  <a href="{% url 'glass_surface' field.category_id %}">
                  <img src = "{{field.category_image.url}}" alt = "">
                  </a>
              </div>
              <div class = "textbox-content">
                  <h3>{{field.name}}</h3>
                  <p>{{field.description}}</p>
                  <div class = "location">
                      <!-- <div>
                          <span><i class = "fas fa-map"></i></span>
                          <span>WTG Glass</span>
                      </div> -->
                      <button type = "button" href="">Explore..</button>
                  </div>
              </div>
          </article>
          {% endfor %}
      </div>
    </div>
     
    <!-- About us -->
    <section id = "services1">
      <div class = "container_about">
        <div class = "services-content">
          <div class = "title-content">
            <h2 class = "title">About Us</h2>
            <p class = "lead">We WTG promise always Quality and transparency like our products. Delhi based company dreams for world wide.</p>
          </div>
          <div class = "services-list">
            <div class = "service-item" data-aos = "flip-left">
              <span>
                <i class = "fa fa-check-square-o"></i>
              </span>
              <div>
                <h3 class = "heading">Quality</h3>
                <p>Quality is the key of success and we found that key.</p>
              </div>
            </div>

            <div class = "service-item" data-aos = "flip-left">
              <span>
                <i class="fab fa-think-peaks"></i>
              </span>
              <div>
                <h3 class = "heading">Think</h3>
                <p>A great Think is unlocking of treasure.</p>
              </div>
            </div>

            <div class = "service-item" data-aos = "flip-left">
              <span>
                <i class="fa-solid fa-asterisk"></i>
              </span>
              <div>
                <h3 class = "heading">Innovative</h3>
                <p>Innovation means intelligence. We became brilliant</p>
              </div>
            </div>

            <div class = "service-item" data-aos = "flip-left">
              <span>
                <i class="fa-solid fa-compass-drafting"></i>
              </span>
              <div>
                <h3 class = "heading">Design</h3>
                <p>If you are food in designing no body can stop you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- why choose us -->
    <section id = "services2">
      <div class = "container_choose">
        <div class = "services-content">
          <div class = "title-content">
            <h2 class = "title">Why choose us?</h2>
            <p class = "lead">We have everything you need, that fits you and your requirements.</p>
          </div>

          <div class = "service-type-list">
            <div class = "service-type" data-aos = "zoom-in">
              <span>
                <i class="fab fa-think-peaks"></i>
              </span>
              <h2 class = "display-text">Think</h2>
              <p class = "lead">power is the everything.</p>
              <!-- <a href = "#">Read More</a> -->
            </div>
            
            <div class = "service-type" data-aos = "zoom-in">
              <span>
                <i class="fab fa-think-peaks"></i>
              </span>
              <h2 class = "display-text">Think</h2>
              <p class = "lead">Power is everything.</p>
              <!-- <a href = "#">Read More</a> -->
            </div>

            <div class = "service-type" data-aos = "zoom-in">
              <span>
                <i class="fab fa-think-peaks"></i>
              </span>
              <h2 class = "display-text">Think</h2>
              <p class = "lead">Power is everything.</p>
              <!-- <a href = "#">Read More</a> -->
            </div>
          </div>

          <div class = "service-data">
            <div class = "service-data-item">
              <span class='numscroller' data-min='1' data-max='140' data-delay='5' data-increment='5'>0</span>
              <p class = "lead">Clients</p>
            </div>
            <div class = "service-data-item">
              <span class='numscroller' data-min='1' data-max='485' data-delay='5' data-increment='5'>0</span>
              <p class = "lead">Projects</p>
            </div>
            <div class = "service-data-item">
              <span class='numscroller' data-min='1' data-max='329' data-delay='5' data-increment='5'>0</span>
              <p class = "lead">Hours Of Support</p>
            </div>
            <div class = "service-data-item">
              <span class='numscroller' data-min='1' data-max='45' data-delay='5' data-increment='5'>0</span>
              <p class = "lead">Hard Workers</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- video section heading -->
    <div class="big-furn">
        <div class="furn-title">
            <h2>
                Discover our work culture <br> technology 
            </h2>
            <p>
                View our everday amazing products.
            </p>
        </div>
    </div>

    <!-- Video section -->
    <div class="bg-show">
        <div class="link">
            <!-- <a href="#" class="link_a">play <img src="{% static 'pic/pause.png' %}" alt=""></a>             -->
            <iframe width="1160"   src="https://www.youtube.com/embed/xEcDIGZlyLs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtube"></iframe>
            <!-- width="960" height="615" -->
        </div>
    </div>
    
    {% include "contact.html" %}
    {% include 'footer.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



    
    {% endblock home %}