{% extends "base.html" %}
{% load static %}
{% block product %}
    {% include "header.html" %}
    <div class = "products">
        <div>                
            <div class="big-product" id="features">
                <div class="product-title">
                    <p>
                        browse our items
                    </p>
                    <h2>
                        Ideal for your home
                    </h2>
                    <hr>
                </div>
                <div class="product-flex">
                    {% for field in product %}
                    <div class="product-one">
                        <div class="product-image">
                            <img src="{{field.image.url}}" alt="">
                            <div class="overlay">
                                <a href="#"> <h5>Check more.</h5></a>
                                {% comment %} <i class="fas fa-shopping-bag"></i>
                                <i class="far fa-heart"></i>
                                <i class="fas fa-search"></i> {% endcomment %}
                            </div>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h6>
                                    {{field.model}}
                                </h6>
                            </div>
                            {% comment %} <div class="right">
                                <section>{{field.standard_thinckness}}</section>
                            </div> {% endcomment %}
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "contact.html" %}
    {% include "footer.html" %}
{% endblock product %}